PORT=5000
MONGODB_URI=mongodb+srv://johanesangeles06_db_user:MAtsNfjKMR4wGqwl@cst-support-team-databa.4wxbjsp.mongodb.net/?appName=cst-support-team-database
JWT_SECRET=aeb251c6b424bb6577dd25579f57bd712fb879698c9df4e59fe0453288840247892acc37ce25458ca67c12e7e313c574ebda6f0377a3827e6f1509cc89ac7aa9
JWT_EXPIRES_IN=30d
NODE_ENV=production
GROK_API_KEY=xai-your-key-here
STRIPE_SECRET_KEY=sk_test_your_stripe_key_here
STRIPE_PRICE_MONTHLY=price_your_monthly_price_id
STRIPE_PRICE_ANNUAL=price_your_annual_price_id
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
EIA_API_KEY=your-eia-api-key-here
SENTRY_DSN=https://your-key@oXXXXX.ingest.sentry.io/XXXXXXX
RESEND_API_KEY=re_your_resend_api_key_here
FROM_EMAIL=CST App <noreply@yourdomain.com>
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
