PORT=5000
MONGODB_URI=mongodb+srv://johanesangeles06_db_user:MAtsNfjKMR4wGqwl@cst-support-team-databa.4wxbjsp.mongodb.net/?appName=cst-support-team-database
JWT_SECRET=aeb251c6b424bb6577dd25579f57bd712fb879698c9df4e59fe0453288840247892acc37ce25458ca67c12e7e313c574ebda6f0377a3827e6f1509cc89ac7aa9
JWT_EXPIRES_IN=30d
NODE_ENV=development
ANTHROPIC_API_KEY=sk-ant-your-key-here
